.NavSideBarContainer {
    background-color: var(--background-third-color);
    padding: 20px 30px;
}

.SideBarTittle {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--background-second-color);
}

.NavSideBarContainer *{
    color: var(--text-second-color);
}

li{
    /* text-align: center; */
    padding: 10px 0px;
}