@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');


:root {
  /* Colors */
  --primary-color: blue;
  --secondary-color: #24163a;
  --text-color: #333;
  --text-second-color: #f0f0f0;
  --primary-bg-color: #f0f0f0;
  --background-color: #24163a;
  --background-second-color: #5C5470;
  --background-third-color: #352F44;

  /* Fonts */
  --font-family: 'Rubik',sans-serif;
  --heading-font-size: 24px;
  --paragraph-font-size: 16px;

  /* Spacing */
  --spacing-unit: 8px;
  --padding: var(--spacing-unit);
  --margin: var(--spacing-unit);

  /* Box Model */
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
  --border-radius: 20px;

  /* Transitions */
  --transition-duration: 0.3s;

  /* Button */
  --button-bg-color: #51258f;
  --button-hover-color: #6b3cbf;
  --button-red-color: #f5222d;
  --button-red-hover-color: #ff4d4f;

}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: text;
}

.container {
  width: 1200px;
  position: relative;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

button {
  padding: 8px 12px; /* 调整需要的填充 */
  margin: 0 5px; /* 调整需要的外边距 */
  background-color: var(--button-bg-color); /* 设置需要的背景颜色 */
  color: var(--text-second-color);
  border: none;
  border-radius: 4px; /* 为了圆角，添加边框半径 */
  cursor: pointer;
  font-family: var(--font-family);
}

button:hover{
  background-color: var(--button-hover-color);
}


