.cancelDeleteBtn , .deleteBtn{
    margin-top: 20px;
}

.deleteBtn{
    background-color: #f5222d; /* 设置需要的背景颜色 */
}

.deleteBtn:hover{
    background-color: #ff4d4f;
}

.userRoleCheckBox {
    display: flex;
    margin-bottom: 5px;
}